<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавить задачу</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
<div class="container mt-5">
  <h1 class="text-center">Добавить задачу</h1>
  <form action="#" th:action="@{/tasks/add}" th:object="${task}" method="post" class="p-4 border rounded">
    <div class="form-group">
      <label for="taskName">Имя задачи:</label>
      <input type="text" id="taskName" th:field="*{taskName}" class="form-control" required/>
    </div>
    <div class="form-group">
      <label for="assignmentDate">Дата назначения:</label>
      <input type="date" id="assignmentDate" name="assignmentDate" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="status">Статус:</label>
      <input type="text" id="status" th:field="*{status}" class="form-control" required/>
    </div>
    <div class="form-group">
      <label for="user" class="text-success text-light">Пользователь:</label>
      <select name="userId" id="user" class="form-control" required>
        <option value="" disabled selected>Выберите пользователя</option>
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
    <a href="/tasks" class="btn btn-secondary mt-3">Назад</a>
  </form>
</div>
</body>
</html>
