<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать роль</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
<div class="container mt-5">
    <h1 class="text-center">Редактировать роль</h1>
    <form action="#" th:action="@{/roles/edit/{id}(id=${role.id})}" th:object="${role}" method="post" class="p-4 border rounded">
        <div class="form-group">
            <label for="roleName">Имя роли:</label>
            <input type="text" id="roleName" th:field="*{roleName}" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
        <a href="/roles" class="btn btn-secondary mt-3">Назад</a>
    </form>
</div>
</body>
</html>
