<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список пользователей</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
<div class="container mt-5">
  <a href="/" class="d-block mx-auto mb-4"> <!-- Укажите путь к главной странице -->
    <img src="/img/logo.png" alt="Логотип компании" style="max-width: 150px;">
  </a>
  <h1 class="text-center text-success mb-4">Пользователи</h1>
  <a href="/users/add" class="btn btn-success mb-3">Добавить пользователя</a>
  <table class="table table-striped table-bordered bg-secondary">
    <thead class="thead-dark">
    <tr>
      <th class="text-success">ID</th>
      <th class="text-success">Имя пользователя</th>
      <th class="text-success">Роль</th>
      <th class="text-success">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td class="text-light" th:text="${user.id}"></td>
      <td class="text-light" th:text="${user.username}"></td>
      <td class="text-light" th:text="${user.role.roleName}"></td>
      <td>
        <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-info btn-sm">Просмотр</a>
        <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-warning btn-sm">Редактировать</a>
        <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger btn-sm">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
