<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Детали проблемы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
<div class="container mt-5" style="max-width: 600px;">
    <h1 class="text-center text-info">Детали проблемы</h1>
    <div class="card bg-secondary text-light shadow-sm p-4 mt-4">
        <h2 th:text="${problem.problemDescription}" class="mb-4 text-info">Описание проблемы</h2>
        <p><strong>ID:</strong> <span th:text="${problem.id}"></span></p>
        <p><strong>Коренная причина:</strong> <span th:text="${problem.rootCause}"></span></p>
        <p><strong>Предложенное решение:</strong> <span th:text="${problem.proposedSolution}"></span></p>
        <p><strong>Дата реализации:</strong> <span th:text="${#dates.format(problem.implementationDate, 'yyyy-MM-dd')}"></span></p>
        <p><strong>Статус:</strong> <span th:text="${problem.status}"></span></p>
        <p><strong>Пользователь:</strong>
            <span th:if="${problem.user != null}" th:text="${problem.user.username}"></span>
            <span th:if="${problem.user == null}">Пользователь не назначен</span>
        </p>
        <div class="d-flex justify-content-between mt-4">
            <a href="/problems" class="btn btn-secondary">Назад</a>
            <div th:if="${#httpServletRequest.isUserInRole('ROLE_Builder')}">
            <a th:href="@{/problems/edit/{id}(id=${problem.id})}" class="btn btn-warning text-dark">Редактировать</a>

            <a th:href="@{/problems/delete/{id}(id=${problem.id})}" class="btn btn-danger"
               onclick="return confirm('Вы уверены, что хотите удалить эту проблему?');">Удалить</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
